$borderBlock: 1px solid rgb(204, 204, 204);
$outlineBlock: 2px solid rgb(181, 214, 242);

$spinkit-size: 50px;
$spinkit-backgruond: rgb(204, 204, 204);
$spinkit-spinner-color: rgb(135, 133, 133);

$circleCount: 12;
$animationDuration: 1.2s;